html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --main-bg-color: white;
    --all-text-color: grey;
    --all-header-color: black; 
  }

/* all images settings
hamburger: 21*16
  nowness logo : 340*56
  menu-icon : 21/24*19
  library-video-tumb :220*142
  misical secttion img: 431.6*276
  delight video: 320*204
  more love video: 374*239
  social image share: 250*250
  social icon: 21.12*25
  more love : 150*150
  font-family: 'Gayathri', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

/* header formatting */
section.header {
    width: 100%;
    height: 123px;
    position: fixed;
    background-color: var(--main-bg-color);
    z-index: 10;
}

.top-site-title {
    width: 95%;
    height: 80px;
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hamburger {
    width: 113px
}

.brand-logo {
    width: 350px;
    height: 60px;
}

.menu-ic {
    width: 20px;
    height: 18px;
}

.menu-icon {
    margin: auto 10px;
}

.top-header-links {
    width: 130px;
    height: 20px;
    margin: auto 0;
}

.bottom-site-title {
    width: 100%;
    height: 43px;
    margin: 0 auto; 
    border-top: solid 0.5px var(--all-text-color);
    border-bottom: solid 1px var(--all-text-color);
}

.links-box-header {
    margin: auto ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.link-menu {
    text-transform: uppercase;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--all-text-color);
}

li.nav-link {
    list-style: none;
    margin: 12.5px 0;
}

/* section carousel */

.carousel {
    position: relative;
    top: 128px;
    width: 100%;
    height: 500px;
}

.carousel-container {
    width: 97%;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    height: 550px;
}

.car-caption {
    justify-content: center;
    width: 45%;
    height: 150px;
    position: absolute;
    bottom: 5px;
    left: 30%;
    z-index: 0;
}

i.car-caption-play {
    position: relative;
    left: 45%;
    margin: 10px auto;
    width: 50px;
    color: var(--main-bg-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    color: var(--main-bg-color);
}

.caption-text {
    text-align: center;
    color: var(--main-bg-color);
}

section.video-library {
    position: relative;
    top: 200px;
    margin-bottom: 500px;
    margin-left: 20px;
}

.video-lib-box {
    height: 160px;
}

.videos-list {
    width: 100%;
    height: 198px;
    background: #1423;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.video-tumb {
    width: 100%;
    height: 142px;
}

.video-item {
    width: 220px;
    height: 150px;
    margin: 0 10px 45px 0;
}

.video-tumb-container {
    width: 100%;
    height: 100%;
}

.vid-container-option {
    visibility: hidden;
    width: 30px;
    position: relative;
    background-color: #fff;
    bottom: 67px;
    right: -190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
}



.fa-plus {
    color: #000;
    margin: 3px auto 5px auto;
    padding: 5px;
}

.video-tumb-icon-play {
    width: 20px;
    padding: 5px;
}

.duration {
    font-size: 0.7em;
    background-color: black;
    color: #fff;
    width: fit-content;
    padding: 4px;
    position: relative;
    left: 190px;
    bottom: 91px;
    z-index: 8;
}

.video-item-title {
    font-size: 0.8rem;
    margin-bottom: 2px;
    text-align: center;
}

.video-descriptions {
    font-size: 0.9rem;
    text-align: center;
}

  