
 <section class="footer">
    <div class="social-icon-footer">
        <img src="svgicon/facebook.svg" alt="" class="social-icon">
        <img src="svgicon/instagram.svg" alt="" class="social-icon">
        <img src="svgicon/pinterest.svg" alt="" class="social-icon">
        <img src="svgicon/twitter.svg" alt="" class="social-icon">
        <img src="svgicon/vimeo.svg" alt="" class="social-icon">
        <img src="svgicon/youtube.svg" alt="" class="social-icon">
        <img src="svgicon/github.svg" alt="" class="social-icon">
        <img src="svgicon/tumblr.svg" alt="" class="social-icon">
    </div>
    <div class="privacy-links">
        <ul class="footers-links">
            <li class="link-footer"><a href="#">BECOME A MEMBER</a></li>
            <li class="link-footer"><a href="#">ABOUT US</a></li>
            <li class="link-footer"><a href="#">CONTACT US</a></li>
            <li class="link-footer"><a href="#">PRIVACY</a></li>
            <li class="link-footer"><a href="#">TERMS OF SERVICE</a></li>
            <li class="link-footer"><a href="#">BECOME A CONTRIBUTOR</a></li>
            <li class="link-footer"><a href="#">SITE PARTNERS</a></li>
            <li class="link-footer"><a href="#">RSS</a></li>
        </ul>
    </div>
    <P>&copy 2019 MADE WHIT LOVE BY FRITZ JEUNE , ALL-IN-NETWORK. ALL RIGHT RESERVED.</P>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div>
</section>

<script src="js/animations.js"></script>
<script src="" async defer></script>
</body>

</html>