
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All-in-network : mockup</title>
    <script src="https://kit.fontawesome.com/e43d82fac9.js"></script>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <!-- fonts libraries -->
    <link
        href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Gayathri|Lato|Montserrat:400,700|Open+Sans:300,400,800|Raleway:400,500|Roboto|Tajawal:400,500&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="top-site-title">
            <div class="hamburger menu-icon"><i class="fas fa-bars fa-lg menu-icon"></i></div>
            <img src="pics/logo.svg" alt="nowness logo" class="brand-logo menu-icon">
            <div class="top-header-links">
                <img src="pics/magnifying-glass.png" alt="search button" class="menu-icon menu-ic">
                <img src="pics/play-button.png" alt="play button" class="menu-icon menu-ic">
                <img src="pics/user.png" alt="user account icon" class="menu-icon menu-ic">
            </div>
        </div>
        <div class="bottom-site-title">
            <div class="links-box-header">
                <a href="#" class="link-menu">series</a>
                <a href="#" class="link-menu">topics</a>
                <a href="#" class="link-menu">picks</a>
                <a href="#" class="link-menu">special programs</a>
            </div>
        </div>
    </header>