<%- include("headers") %>
    <div class="wrapper">
        <section class="carousel">
            <div class="carousel-container">
                <img src="pics/carousel.jpg" class="carousel-image" alt="">
                <div class="car-caption">
                    <svg class="car-caption-play" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-140.96875 0-256 115.050781-256 256 0 140.96875 115.050781 256 256 256 140.96875 0 256-115.050781 256-256 0-140.96875-115.050781-256-256-256zm0 482c-124.617188 0-226-101.382812-226-226s101.382812-226 226-226 226 101.382812 226 226-101.382812 226-226 226zm0 0"/><path d="m181 404.027344 222.042969-148.027344-222.042969-148.027344zm30-240 137.957031 91.972656-137.957031 91.972656zm0 0"/></svg>
                    <h1 class="car-caption-header">My place : Charlie XCX</h1>
                    <p class="caption-text">The avant-pop hitmaker welcomes us to her Tudor party pad in the Hollywood Hills
                    </p>
                </div>
            </div>
        </section>
        <section class="video-library">
            <div class="video-lib-box">
                <div class="arrow ar-left"></div>
                <div class="arrow ar-right"></div>
                <ul class="videos-list">
                    <li class="video-item vd-tumb">
                        <a href="#">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img1.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item  vd-tumb">
                        <a href="#">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img2.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs.</p>
                        </a>
                    </li>
                    <li class="video-item  vd-tumb">
                        <a href="#">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img3.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item  vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img4.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item  vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img5.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item  vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img6.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item  vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img7.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img8.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img9.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenir</p>
                        </a>
                    </li>
                    <li class="video-item vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img10.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img11.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img12.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>
                    <li class="video-item vd-tumb">
                        <a href="">
                            <p class="video-item-title">August 20</p>
                            <div class="video-tumb-container">
                                <img src="pics/img13.jpg" alt="" class="video-tumb">
                                <div class="vid-container-option cont-option-lib">
                                    <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                                    <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                                </div>
                                <p class="duration duration-video-lib">4:14</p>
                            </div>
                            <p class="video-descriptions">Sound and Vision: souvenirs</p>
                        </a>
                    </li>

                </ul>
            </div>
        </section>
        <section class="musical-notes">
            <div class="sect-title">
                <h2 class="section-title">MUSICAL NOTES</h2>
                <p class="section-description">Thoughts from creative talents</p>
            </div>
            <div class="musical-videos-box">
                <div class="musical-video-item vd-tumb">
                    <div class="musical-video-tumb">
                        <img src="pics/musi1.jpg" alt="" class="misical-vid-img">
                        <div class="vid-container-option opt-posit-musical">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-musical">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="musical-video-item vd-tumb">
                    <div class="musical-video-tumb">
                        <img src="pics/musi2.jpg" alt="" class="misical-vid-img">
                        <div class="vid-container-option opt-posit-musical">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-musical">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="musical-video-item vd-tumb">
                    <div class="musical-video-tumb">
                        <img src="pics/musi3.jpg" alt="" class="misical-vid-img">
                        <div class="vid-container-option opt-posit-musical">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-musical">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
            </div>
        </section>

        <section class="guest-select">
            <div class="sect-title">
                <h3 class="section-title">selected guest</h3>
                <p class="section-description"></p>
            </div>
            <div class="guests-container">
                <div class="guest-video-item guest1 vd-tumb">
                    <div class="guest-video-tumb">
                        <img src="pics/art1.jpg" alt="" class="guest-vid-img">
                        <div class="vid-container-option opt-posit-guest">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-guest">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="guest-video-item guest2 vd-tumb">
                    <div class="guest-video-tumb">
                        <img src="pics/art2.jpg" alt="" class="guest-vid-img">
                        <div class="vid-container-option opt-posit-guest">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-guest">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="guest-video-item guest3 vd-tumb">
                    <div class="guest-video-tumb">
                        <img src="pics/art3.jpg" alt="" class="guest-vid-img">
                        <div class="vid-container-option opt-posit-guest">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-guest">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="guest-video-item guest4 vd-tumb">
                    <div class="guest-video-tumb">
                        <img src="pics/art4.jpg" alt="" class="guest-vid-img">
                        <div class="vid-container-option opt-posit-guest">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-guest">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>

                <div class="guest-image-item">
                    <div class="guest-photo-item">
                        <img src="pics/guestcenter.jpg" alt="" class="guest-vid-img">
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
            </div>

        </section>

        <section class="edible-delight">
            <div class="sect-title">
                <h3 class="section-title">edible delight</h3>
                <p class="section-description">Ingredients that inspires</p>
            </div>
            <div class="video-delight-cont">
                <div class="delight-video-item vd-tumb">
                    <div class="delight-video-tumb">
                        <img src="pics/deli1.jpg" alt="" class="delight-vid-img">
                        <div class="vid-container-option opt-posit-delight">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-delight">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="delight-video-item vd-tumb">
                    <div class="delight-video-tumb">
                        <img src="pics/deli2.jpg" alt="" class="delight-vid-img">
                        <div class="vid-container-option opt-posit-delight">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-delight">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="delight-video-item vd-tumb">
                    <div class="delight-video-tumb">
                        <img src="pics/deli3.jpg" alt="" class="delight-vid-img">
                        <div class="vid-container-option opt-posit-delight">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-delight">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
                <div class="delight-video-item vd-tumb">
                    <div class="delight-video-tumb">
                        <img src="pics/deli4.jpg" alt="" class="delight-vid-img">
                        <div class="vid-container-option opt-posit-delight">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-delight">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
            </div>
        </section>
        <section class="subscribe">
            <div class="subscr-info-container">
                <div class="subsc-header">
                    <h3 class="section-title">SUBSCRIBE TO THE NOWNESS NEWSLETTER</h3>
                    <p class="section-description">Be the first to hear about our latest releases</p>
                </div>
                <div class="form-box">
                    <form action="/app.js" method="post">
                        <input type="email" name="email" placeholder="EMAIL" id="email-info">
                        <br><br>
                        <div class="form-subscribe-option">
                        <input type="radio" name="receive-news" id="recieve-news-letter">
                        <label for="recieve-news-letter">I would like to receive the NOWNESS newsletters</label>
                        <br><br>
                        <input type="radio" name="email-by-partners" id="partners-email">
                        <label for="partners-email">I would like to receive emails from selected NOWNESS partners featuring exclusive offers</label>
                        <br>
                        <br>
                        </div>
                        <button type="submit">SUBSCRIBE</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="best-videos">
            <div class="most-loved">
                <h3 class="section-title">most loved</h3>
                <div class="most-video-item vd-tumb">
                    <div class="most-video-tumb">
                        <img src="pics/most1.jpg" alt="" class="most-vid-img">
                        <div class="vid-container-option opt-posit-most">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-most">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
            </div>
            <div class="most-loved love-line">
                <h3 class="section-title">most watched</h3>
                <div class="most-video-item vd-tumb">
                    <div class="most-video-tumb">
                        <img src="pics/most2.jpg" alt="" class="most-vid-img">
                        <div class="vid-container-option opt-posit-most">
                            <div class="videos-opt"><img src="svgicon/plus-icon.svg" class="icon-videos"></div>
                            <div class="videos-opt"><img src="svgicon/play-icon.svg" class="icon-videos"></div>
                        </div>
                        <p class="duration dura-pos-most">4:14</p>
                    </div>
                    <h4 class="video-title-bold">Lovesick: Little Girl Blue</h4>
                    <p class="video-descriptions">The emotional highs and lows of psychadelic singer Janis Joplin's
                        turbulent life</p>
                </div>
            </div>
        </section>
        <section class="share">
            <h3 class="section-title">share the love</h3>
            <div class="social-share-cont">
                <div class="share-item">
                    <div class="share-tumb-box">
                        <img src="pics/social1.jpg" alt="share image" class="share-tumb">
                        <img src="svgicon/fill-facebook.svg" alt="" class="social-icon1 share-ic">
                    </div>
                    <div class="social-share-description">
                        <h4 class="simple-title-text">Facebook</h4>
                        <!-- <img src="svgicon/fill-facebook.svg" alt="" class=""> -->
                        <p>Our daily feed</p>
                        <button class="btn-all">LIKE</button>
                    </div>
                </div>
                <div class="share-item">
                    <div class="share-tumb-box">
                        <img src="pics/social2.jpg" alt="share image" class="share-tumb">
                        <img src="svgicon/fill-youtube.svg" alt="" class="social-icon1 share-ic">
                    </div>
                    <div class="social-share-description">
                        <h4 class="simple-title-text">Youtube</h4>
                        <!-- <img src="svgicon/fill-youtube.svg" alt="" class=""> -->
                        <p>See everythings , hear everythings</p>
                        <button class="btn-all">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="sub-share-section">
                <div class="become-member sub-share">
                    <h4 class="simple-title-text">Join the NOWNESS community to create your own playlists, rate and comment
                        on stories, subscribe to your favorite categories and more.</h4>
                    <button class="btn-all but-menber">become a nowness member</button>
                    <h6 class="sign-invite">Already a member? <a class="sign-in-link">Sign in</a></h6>
                </div>
                <div class="nowness-connection1 sub-share">
                    <h4 class="simple-title-text">Connect with NOWNESS</h4>
                    <div class="connect-logos">
                        <div class="social-icon1 ic">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h151v-181h-60v-90h60v-61c0-49.628906 40.371094-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm0 0"/>
                        </svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="0 -61 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v240c0 41.351562 33.648438 75 75 75h362c41.351562 0 75-33.648438 75-75v-240c0-41.351562-33.648438-75-75-75zm-256 298.417969v-203.90625l180.496094 100.269531zm0 0"/><path d="m211 145.488281v101.105469l89.503906-51.375zm0 0"/></svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m392.425781 114.992188c15.664063-17.457032 24.796875-35.734376 28-54.496094-44.292969-37.089844-101.269531-60.496094-163.425781-60.496094-32.09375 0-62.699219 6.210938-91.011719 17.078125 47.410157 47.5 87.058594 103.742187 118.070313 164.453125 45.695312-16.523438 83.78125-39.128906 108.367187-66.539062zm0 0"/><path d="m414.75 135.03125c-27.519531 30.671875-68.425781 55.617188-117.296875 73.746094 6.074219 13.320312 11.65625 26.917968 16.910156 40.691406 25.097657-5.398438 51.109375-8.46875 77.636719-8.46875 41.761719 0 82.332031 7.085938 119.742188 20.109375.035156-1.714844.257812-3.382813.257812-5.109375 0-66.035156-25.445312-126.09375-66.773438-171.429688-6.097656 17.570313-16.21875 34.574219-30.476562 50.460938zm0 0"/><path d="m5.847656 202.113281c31.886719 5.636719 67.214844 8.886719 101.152344 8.886719 52.609375 0 103.144531-7.46875 148.183594-20.296875-31.035156-59.628906-70.933594-114.507813-118.554688-160.402344-64.808594 34.855469-114.8125 97.925781-130.78125 171.8125zm0 0"/><path d="m509.15625 291.996094c-36.1875-13.621094-76.015625-20.996094-117.15625-20.996094-23.0625 0-45.710938 2.417969-67.554688 6.832031 22.175782 66.503907 35.007813 138.386719 37.199219 211.453125 78.015625-35.292968 135.042969-109.632812 147.511719-197.289062zm0 0"/><path d="m0 256c0 78.890625 38.027344 150.511719 94.472656 197.320312 5.980469-39.785156 23.917969-78.925781 53.132813-111.683593 34.75-38.960938 82.972656-68.136719 137.582031-84.789063-5.082031-13.109375-10.632812-25.960937-16.492188-38.632812-48.796874 14.472656-103.757812 22.785156-161.695312 22.785156-35.445312 0-72.332031-3.386719-105.769531-9.261719-.757813 7.996094-1.230469 16.074219-1.230469 24.261719zm0 0"/><path d="m170.003906 361.601562c-29.511718 33.09375-45.5 71.90625-47.550781 111.613282 39.113281 24.425781 85.132813 38.785156 134.546875 38.785156 25.980469 0 51.046875-3.953125 74.683594-11.207031-1.148438-74.6875-13.6875-148.125-36.484375-215.71875-49.902344 14.964843-93.796875 41.320312-125.195313 76.527343zm0 0"/></svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-140.609375 0-256 115.390625-256 256 0 119.988281 84.195312 228.984375 196 256v-84.695312c-11.078125 2.425781-21.273438 2.496093-32.550781-.828126-15.128907-4.464843-27.421875-14.542968-36.546875-29.910156-5.816406-9.8125-16.125-20.453125-26.878906-19.671875l-2.636719-29.882812c23.253906-1.992188 43.371093 14.167969 55.3125 34.230469 5.304687 8.921874 11.410156 14.152343 19.246093 16.464843 7.574219 2.230469 15.707032 1.160157 25.183594-2.1875 2.378906-18.972656 11.070313-26.074219 17.636719-36.074219v-.015624c-66.679687-9.945313-93.253906-45.320313-103.800781-73.242188-13.976563-37.074219-6.476563-83.390625 18.238281-112.660156.480469-.570313 1.347656-2.0625 1.011719-3.105469-11.332032-34.230469 2.476562-62.546875 2.984375-65.550781 13.078125 3.867187 15.203125-3.890625 56.808593 21.386718l7.191407 4.320313c3.007812 1.792969 2.0625.769531 5.070312.542969 17.371094-4.71875 35.683594-7.324219 53.726563-7.558594 18.179687.234375 36.375 2.839844 54.464844 7.75l2.328124.234375c-.203124-.03125.632813-.148437 2.035157-.984375 51.972656-31.480469 50.105469-21.191406 64.042969-25.722656.503906 3.007812 14.128906 31.785156 2.917968 65.582031-1.511718 4.65625 45.058594 47.300781 19.246094 115.753906-10.546875 27.933594-37.117188 63.308594-103.796875 73.253907v.015624c8.546875 13.027344 18.816406 19.957032 18.761719 46.832032v105.722656c111.808594-27.015625 196-136.011719 196-256 .003906-140.609375-115.386719-256-255.996094-256zm0 0"/></svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h362c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm-180 390c-74.441406 0-135-60.558594-135-135s60.558594-135 135-135 135 60.558594 135 135-60.558594 135-135 135zm150-240c-24.8125 0-45-20.1875-45-45s20.1875-45 45-45 45 20.1875 45 45-20.1875 45-45 45zm0 0"/><path d="m407 90c-8.277344 0-15 6.722656-15 15s6.722656 15 15 15 15-6.722656 15-15-6.722656-15-15-15zm0 0"/><path d="m257 150c-57.890625 0-105 47.109375-105 105s47.109375 105 105 105 105-47.109375 105-105-47.109375-105-105-105zm0 0"/></svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="-91 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m105.011719 0-.015625 31.933594c-1.046875 48.335937-40.40625 88.066406-89.996094 88.066406h-15v89.988281c6.441406 0 78.964844 0 75 0v152.011719c0 82.703125 67.296875 150 150 150h105v-120h-105c-16.539062 0-30-13.460938-30-30v-152h135v-90h-135v-120zm0 0"/></svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="-62 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m60.945312 278.21875c.640626-1.597656 7.050782-26.230469 7.5-27.898438-10.007812-15.058593-21.125-64.371093-12.597656-104.398437 9.199219-58.730469 71.4375-87.601563 130.199219-87.601563v-.109374c73.570313.046874 128.640625 40.980468 128.699219 111.476562.046875 55.179688-33.195313 128.117188-89.957032 128.117188-.015624 0-.027343 0-.042968 0-20.257813 0-45.90625-9.1875-52.632813-18.210938-7.761719-10.398438-9.667969-23.230469-5.566406-36.941406 10.050781-32.082032 22.867187-70.511719 24.363281-96.136719 1.386719-24.183594-15.773437-39.917969-38.027344-39.917969-16.746093 0-38.496093 9.726563-49.335937 37.058594-8.953125 22.707031-8.761719 46.480469.585937 72.671875 3.644532 10.238281-16.15625 76.984375-22.5 98.71875-15.761718 53.992187-37.339843 122.304687-32.726562 160.347656l4.453125 36.605469 22.367187-29.3125c30.953126-40.519531 62.957032-145.332031 71.484376-170.835938 25.210937 32.648438 77.710937 33.585938 83.832031 33.585938 75.183593 0 160.4375-74.65625 158.019531-178.5625-2.121094-91.121094-68.808594-166.875-188.632812-166.875v.117188c-113.976563 0-180.5 60.835937-196.785157 137.703124-14.914062 71.273438 18.253907 125.519532 57.300781 140.398438zm0 0"/></svg>
                        </div>
                        <div class="social-icon1 ic">
                        <svg viewBox="0 -45 511.99936 511" xmlns="http://www.w3.org/2000/svg"><path d="m0 103.636719 6.960938 25.859375.527343-.351563c14.195313-9.40625 25.421875-16.835937 38.035157-16.835937 11.269531 0 22.054687 6.054687 30.085937 17.980468 43.699219 64.839844 77.496094 290.316407 159.269531 290.316407 80.707032 0 283.398438-245.835938 276.972656-356.765625-3.195312-55.105469-42.667968-63.339844-65.921874-63.339844-44.773438 0-89.402344 27.648438-111.925782 80.527344 38.441406-6.164063 65.683594 15.382812 62.753906 54.84375-3.382812 44.820312-78.570312 160.632812-113.558593 160.632812-59.8125 0-87.796875-201.671875-107.808594-262.890625-5.011719-15.28125-19.503906-24.777343-37.847656-24.777343-13.023438 0-26.503907 4.996093-37.976563 14.082031-26.433594 20.921875-53.382812 42.445312-79.539062 64.148437zm0 0"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="more-to-love">
            <h3 class="section-title">more to love</h3>
            <div class="love-container">
                <div class="love-item">
                    <img src="pics/9.PNG" alt="more to love image" class="more-love-img">
                    <div class="love-descrip">
                        <h4 class="simple-title-text">we're hiring</h4>
                        <p>An exhibition on a new body of work from Alex Prager at Lehmann Maupin Gallery, Sep 5 - Oct 26
                        </p>
                    </div>
                </div>
                <div class="love-item">
                    <img src="pics/9.PNG" alt="more to love image" class="more-love-img">
                    <div class="love-descrip">
                        <h4 class="simple-title-text">get Up, Stand Up Now</h4>
                        <p>An exhibition on a new body of work from Alex Prager at Lehmann Maupin Gallery, Sep 5 - Oct 26
                        </p>
                    </div>
                </div>
                <div class="love-item">
                    <img src="pics/9.PNG" alt="more to love image" class="more-love-img">
                    <div class="love-descrip">
                        <h4 class="simple-title-text">{Play the Wind}</h4>
                        <p>An exhibition on a new body of work from Alex Prager at Lehmann Maupin Gallery, Sep 5 - Oct 26
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
<%- include("footers") %>