<%- include("headers") %>

    <div class="wrappe">
        <h1>Create your NOWNESS Account</h1>
        <h3>Contacts</h3>
            <form action="/signup-contact" method="post">
                <label for="urEmail">Email:</label><input type="email" name="email" id="urEmail"><br><br>
                <label for="confirm-mail">Confirm Email:</label><input type="email" name="confEmail" id="confirm-mail"><br><br>
                <fieldset>
                    <legend>Phone</legend>
                    <label for="mobil-phone">Mobile Phone:</label><input type="tel" name="mobilPhone" id="mobil-phone">
                    <label for="mobil-phone">Home Phone:</label><input type="tel" name="homePhone" id="home-phone">
                    <label for="mobil-phone">Work Phone:</label><input type="tel" name="workPhone" id="work-phone">
                </fieldset><br>
                <label for="home-adress">Adress:</label><textarea name="adress" id="text-adress"></textarea><br><br>
                <label for="department">Department:</label><select name="department" id="department">
                <option value="default">Choose your Department</option>
                <option value="ouest">Ouest</option>
                <option value="nippes">Nippes</option>
                <option value="sud">Sud</option>
                <option value="sud-est">Sud-Est</option>
                <option value="grand-anse">Grand-Anse</option>
                <option value="centre">Centre</option>
                <option value="artibonites">Artibonites</option>
                <option value="nord">Nord</option>
                <option value="nord-est">Nord-Est</option>
                <option value="nord-ouest">Nord-Ouest</option>
                </select><br><br>
                <label for="city">City: </label><select name="city" id="city">
                <optgroup id="ouest-dep" label="Ouest">
                    <option value="delmas">Delmas</option>
                    <option value="port-de-paix">Port-au-prince</option>
                    <option value="petion-ville">Petion-ville</option>
                    <option value="carrefou">Carrefou</option>
                    <option value="gressier">Gressier</option>
                    <option value="croix-des-bouquets">Croix-des-Bouquets</option>
                    <option value="tabarre">Tabarre</option>
                    <option value="arcahaie">Arcahaie</option>
                    <option value="petit-goave">Petit-Goave</option>
                    <option value="grand-goave">Grand-Goave</option>
                </optgroup>
                <optgroup id="nippes-dep" label="Nippes">
                    <option value="miragoane">Miragoane</option>
                    <option value="grand-boucan">Grand-Boucan</option>
                    <option value="anse-a-veau">Anse-a-Veau</option>
                    <option value="barradere">Barradére</option>
                </optgroup>
                <optgroup id="sud-dep" label="Sud">
                    <option value="cayes">Cayes</option>
                    <option value="torbeck">Torbeck</option>
                    <option value="port-salut">Port-Salut</option>
                    <option value="aquin">Aquin</option>
                    <option value="camp-perin">Camp-Perrin</option>
                    <option value="maniche">Maniche</option>
                    <option value="coteau">Coteau</option>
                    <option value="anglais">Anglais</option>
                </optgroup>
                <optgroup id="sud-est-dep" label="Sud-Est">
                    <option value="jacmel">Jacmel</option>
                    <option value="bainet">Bainet</option>
                    <option value="belle-anse">Belle-Anse</option>
                    <option value="marigot">Marigot</option>
                    <option value="anse-a-pitre">Anse-a-Pitre</option>
                    <option value="grand-gosier">Grand-Gosier</option>
                    <option value="thiotte">Thiotte</option>
                    <option value="lavallee">La Vallee</option>
                    <option value="cayes-jacmel">Cayes Jacmel</option>
                </optgroup>
                <optgroup id="grand-anse-dep" label="Grand-Anse">
                    <option value="jeremie">Jeremie</option>
                    <option value="abricot">Abricot</option>
                    <option value="bonbon">Bonbon</option>
                    <option value="corail">Corail</option>
                    <option value="beaumont">Beaumont</option>
                </optgroup>
                <optgroup id="centre-dep" label="Centre">
                    <option value="hinche">Hinche</option>
                    <option value="mirebalais">Mirebalais</option>
                    <option value="saut-deau">Saut-d'eau</option>
                    <option value="lascahobas">Lascahobas</option>
                    <option value="belladere">Bèlladère</option>
                    <option value="boucan-carre">Boucan-Carré</option>
                </optgroup>
                <optgroup id="artibonites-dep" label="Artibonites">
                    <option value="gonaives">Gonaives</option>
                    <option value="st-marc">St-Marc</option>
                    <option value="enery">Enery</option>
                    <option value="dessalines">Dessalines</option>
                    <option value="petit-riviere">Petit-Rivière</option>
                    <option value="marmelade">Mardelade</option>
                    <option value="verette">Verette</option>
                    <option value="gros-morne">Gros-Morne</option>
                </optgroup>
                <optgroup id="nord-dep" label="Nord">
                    <option value="cap-haitien">Cap-haitien</option>
                    <option value="limonade">Limonade</option>
                    <option value="acul-du-nord">Acul-du-nord</option>
                    <option value="dondon">Dondon</option>
                    <option value="port-margot">Port-Margot</option>
                    <option value="pignon">Pignon</option>
                    <option value="plaisance">Plaisance</option>
                    <option value="limbe">Limbé</option>
                </optgroup>
                <optgroup id="nord-est-dep" label="Nord-Est">
                    <option value="fort-liberte">Fort-Liberté</option>
                    <option value="terrier">Terrier</option>
                    <option value="ouanaminthe">Ouanaminthe</option>
                    <option value="capotille">Capotille</option>
                    <option value="mont-organisé">Mont-Organisé</option>
                    <option value="trou-du-nord">Trou-du-Nord</option>
                    <option value="terrier-rouge">Terrier-Rouge</option>
                    <option value="valiere">Valière</option>
                </optgroup>
                <optgroup id="nord-ouest-dep" label="Nord-Est">
                    <option value="port-de-paix-dep">Port-de-Paix</option>
                    <option value="latortue-dep">La tortue</option>
                    <option value="bassin-bleu-dep">Bassin-Bleu</option>
                    <option value="saint-louis">Saint-louis</option>
                    <option value="anse-a-foleur-dep">Anse-a-Foleur</option>
                    <option value="bombardopolis">Bombardopolis</option>
                    <option value="jean-rabel">Jean-Rabel</option>
                </optgroup>
                </select><br><br>
                <label for="zip-code">Zip Code</label><input type="text" name="zipCode" id="zip-code">
                <button type="submit">Next</button>
            
            </form>
    </div>



<%- include("footers") %>