<%- include("headers") %>

<section class="carousel">
    <div class="carousel-container">
        <img src="pics/carousel.jpg" class="carousel-image" alt="">
        <div class="car-caption">
            <i class="far fa-play-circle fa-3x car-caption-play"></i>
            <h1 class="car-caption-header">My place : Charlie XCX</h1>
            <p class="caption-text">The avant-pop hitmaker welcomes us to her Tudor party pad in the Hollywood Hills
            </p>
        </div>
    </div>
</section>




<%- include("footers") %>