* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}

h1, h3 {
    text-align: center;
}

input, label{
    /* display: block; */
    width: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    padding: auto 15px;
}